.excel {
    color: #02b0f7;
}

.paddings {
    padding-top: 50px;
    padding-bottom: 50px;
}


.lead {
    font-family: "Microsoft YaHei", serif;
    font-size: x-large;
}

.lead-0 {
    font-family: "Microsoft YaHei UI", serif;
    padding-right: 30px;
}