.text-h1-inner h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: "Microsoft YaHei UI", sans-serif;
    font-weight: bold;
    font-size: xx-large;
}

.text-p4-inner h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    font-family: "Microsoft YaHei UI", sans-serif;
    font-size: xx-large;
}

.img {
    padding-bottom: 10px;
}

.text-x {
    color: #4b4b4b;
    padding-top: 10px;
    text-align: center;
    font-family: "Microsoft YaHei UI", sans-serif;
    font-weight: bold;
}


.text-y {
    color: #4b4b4b;
    padding-top: 10px;
    text-align: center;
    font-family: "Microsoft YaHei UI", sans-serif;
    font-weight: lighter;
    font-size: large;
}